@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@import './helper';


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#root {
    position: relative;
}

html {
    width: 100%;
    scroll-behavior: smooth;
    background-color: #0c111b;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --CARD_GRADIENT: #030b17;
}

// ::-webkit-scrollbar {
//     display: none;
// }

.topMenu {
    height: 70px;
    padding: 30px;
    justify-content: space-between;
    color: whitesmoke;
    background-color: var(--CARD_GRADIENT);
}


.topMenu, .options-section , .search-option {
    @include flexCen();
}

.burger-btn {

    span {
        width: 30px;
        height: 3px;
        background-color: lightgray;
    }
    
}

.options-section img {
    width: 120px;
    height: 120px;
    margin-top: -10px;
}