@import './helper';
$DisneyBlue: #1f80e0;
$DisneySmokeWhite: rgb(206, 205, 205);
$DisneyLightSmokeWhite: rgb(241, 238, 238);

.subscribeComponent {

    position: relative;
    // margin-top: -22px;
    background-color: #121926;
    // background-color: red;
    // background: linear-gradient(transparent,#121926 90%);

    .topMenu {
        position: fixed;
        top: 0;
        margin-top: 0px;
        z-index: 5001;
        padding: 0px 50px 10px 50px;
        background-color: transparent;
        // background-color: #0c111b; 
        @include flexFiller(row,center,flex-start,0px);

        .plan-state {
            margin-right: auto;
            @include flexFiller(column,flex-start,flex-start,10px);
            font-size: 0.6rem;
            color: $DisneySmokeWhite;
            .select-plan {
                margin-left: 5px;
                @include flexFiller(row,flex-start,flex-start,3px);
                .active-sel {
                    color: white;
                    @include font-size-weight(0.65rem,500)
                }
            }
        }

        .lang-opt {
            
            position: relative;
            height: 30px;
            min-width: 125px;
            padding: 1px;
            border: 1px solid white;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            @include flexFiller(row,center,center,0px);
            font-size: 0.7rem;
            color: $DisneySmokeWhite;
            font-weight: 500;
            .view {
                @include flexFiller(row,center,center,5px);
                p {
                    .eng {
                    color: white;
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }

            .inner-lang-opt {
                position: absolute;
                min-width: 125px;
                border: 1px solid white;
                background-color: #192135;
                top: 29px;
                @include flexFiller(column,center,center,0px);
                .lang-names {
                    width: 100%;
                    @include flexFiller(row,center,flex-start,0px);
                    border-bottom: 1.5px solid $DisneySmokeWhite;
                    p {
                        margin-left: 15px;
                        
                    }
                }
                .lang-names:last-child {
                    border-bottom: none;
                }
            }
        }

        .logBtn {
            background-color: $DisneyBlue;
            color: white;
            padding: 7px 15px 7px 15px;
            border-radius: 5px;
            margin-left: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }

}

